@import "../../variables.scss";

.Portfolio {
    background: white;
    
}

.container {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: repeat(4, 1fr);
    grid-row-gap: $space;
}

.title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    color: $grey-icon;
    padding: $space; 
    justify-content: space-around;
}

.port-images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: space-around;
    
}
.port-images2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* flex-grow: 1fr; */
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;
}
/* .Image {
    width: 80%;
    
} */