.Portfolio {
    background: white;
}

.container {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 20px;
}

.title {
    grid: 1/1/4/2;
    color: black;
    padding: 20px;
}
.port-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid: 1/2/4/3;
    margin: 20px;
}
.port-images2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-grow: 1fr; */
    grid: 1/3/4/4;
    height: 300px;
}
/* .Image {
    width: 80%;
    
} */

