@import "../../variables.scss";

.about-page {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    color: $grey-icon;
    height: auto;
    margin: 40px;
    background-color: #f7f5f6
    
}

.about-section {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    
    padding: $space;
    
    
}

.buttons-div {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    align-self: center;
    padding: $space;
    padding-bottom: 50px;
}