.About {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
}

.navBar {
    grid-row-start: 0;
    grid-row-end: 1;
    
}

.Content {
    grid-row-start: 1;
    grid-row-end: 2;
}