html {
    height: 100%;
    margin: 0;
    background: linear-gradient(white, darkgrey);
    background: cover;
    background-repeat: no-repeat;
}

p {
    font-family: $font-rob; 
}

h1, h3 {
    font-family: $font-lora;
}

a {
    cursor: pointer;
}
/* font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif; */
