html {
    height: 100%;
    margin: 0;
    background: linear-gradient(white, darkgrey);
    background: cover;
    background-repeat: no-repeat;
}

p {
    font-family: 'Roboto', sans-serif; 
}

/* font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif; */
