@import "../../variables.scss";

.project-square {
    background: $teal-gradient;
    color: white;
    text-align: center;
    padding: $space;
    border-radius: 10%;
    width: 100px;
    min-width: 100px;
    height: 250px;
    flex-basis: 200px;
    max-height: 300px;
    margin: 10px;
    box-shadow: $inactive-shadow;
    
   
}

.project-square-link {
    color: white;
}

a:link {
    padding: 0px;
}
.project-square:hover {
    box-shadow: $hover-shadow;

}

.project-name {
    font-size: $space;
}

.project-languages {
    height: 5em;
}
i {
    color: white;
}

.project-links {
    padding: 10px;
}