.project-square {
    background: purple;
    width: 100px;
    height: 250px;
    flex-basis: 200px;
    max-height: 300px;
    border: solid;
    border-color: black;
    margin: 10px;
    flex-shrink: 0;
    box-shadow: 1px 2px 10px 1px darkgrey;
}

.project-square:hover {
    box-shadow: 1px 2px 10px 1px black;

}