.Home {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-auto-rows: 20vh;
    color: white;
    text-align: center;
    align-items: center;
    
}

.homeHeader {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    
}

.homeName {
    font-size: 30px;
}

.homeDesc {
    font-size: 20px;
}

/* .fade-enter {
    opacity: 0.01;
  }
  
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}



.slide-enter {
    transform: translate(0%, 0%);
  }
.slide-enter.slide-enter-active {
    transform: translate(0%, -100%);
    transition: transform 1000ms ease-in-out;
}
.slide-leave {
    transform: translate(0%, 0%);
}
.slide-leave.slide-leave-active {
    transform: translate(0%, -100%);
    transition: transform 1000ms ease-in-out;
} */