.Home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: minmax(300px, auto);
    color: white;
    text-align: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(-45deg, teal, purple, blue, teal); */
    background: linear-gradient(-45deg, #4fb576, #44c489, #28a9ae, #28a2b7, #4c7788, #6c4f63, #432c39);
    background-image: linear-gradient(to top,  0%,  30%,  46%,  59%,  71%,  86%,  100%);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.header {
    width: 95vw;
}
.Content {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    
}
.TypeWriter {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 20px;
}
.name {
    font-size: 50px;
}

.homeDesc {
    font-size: 20px;
}

.aboutSection {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 100%;
    align-items: center;
}

.about {
    background: rgb(58, 57, 57);
    height: 100px;
}
.portfolioSection {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.port {
    background: grey;
    height: 100px;
}

.contactSection {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.contact {
    background: lightgrey;
    height: 100px;
}



.linkRow {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    
}


.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    color: darkgrey;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    grid-column-start: 1;
    grid-column-end: 4;
}

.navTitle {
    /* flex-grow: 12; */
    justify-self: flex-start;
    padding-left: 10px;
    font-size: 16px;
    color: rgb(78, 78, 78);
}

.nav-links {
    /* font-size: 14px; */
    padding-right: 10px;
}
a {
    color: rgb(78, 78, 78);
    padding-right: 10px;
}
a:link {
    text-decoration: none;
    color: rgb(78, 78, 78);
    padding: 5px;
}

a:hover {
    color: #28a9ae;
}

.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    /* border-bottom: solid;
    border-bottom-color: rgb(78, 78, 78); */
    box-shadow: 1px 2px 10px 1px darkgrey;

}

.hidden {
    color: white;
}

.type {
    height: 100px;
    font-size: 20px;
}