@import "../../variables.scss";

.round-button {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 5px;
    background: $teal-gradient;
    border-width: 0px;
    box-shadow: $inactive-shadow;
    color: white;

    
}

.round-button:hover {
    box-shadow: $hover-shadow;
    
}

i {
    font-size: 3em;
}


