.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: lightgrey;
}

.navTitle {
    flex-grow: 12;
    font-size: 20px;
}

a:link {
    text-decoration: none;
    color: black;
    padding: 15px;
}
