.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: black;
    color: lightgrey;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
}

.navTitle {
    flex-grow: 12;
}

.navLinks {
    font-size: 14px;
}

a:link {
    text-decoration: none;
    color: white;
    padding: 5px;
}

a:hover {
    color: purple;
}
