.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: black;
    color: lightgrey;
}

.navTitle {
    flex-grow: 12;
    font-size: 20px;
}

a:link {
    text-decoration: none;
    color: white;
    padding: 15px;
}

a:hover {
    color: purple;
}
